<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/cart.css">
    <title>Ace Adoption</title>
</head>

<body>
    <nav class="navbar navbar-light bg-light">
        <a href="/" class="navbar-brand"><h2>Ace Adoption</h2></a>
        <div class="btn-group">
          {{#if user}}
            <p class="h5">Welcome {{this.user.first_name}}</p>
        <div class="btn-group">
                <a href=""><button class="btn btn-outline-primary my-2 my-sm-0" type="button">Shopping Cart</button></a>
        </div>
          {{else}}
            <a href="/signup">
              <button class="btn btn-outline-primary my-2 my-sm-0" type="button">Signup</button>
            </a>
            <a href="/login">
                <button class="btn btn-outline-primary my-2 my-sm-0" type="button">Login</button>
            </a>
          {{/if}}
        </div>
    </nav>
    {{{body}}}
</body>

<script src="app.js"></script>

</html>
