<div id="signin">
  <form action="/login" method="post">
    <p class="h3">Already a Member? Log In</p>
    <div class="form-group">
      <label>Email Address</label>
      <input type="email" class="form-control" name="emailLogin" aria-describedby="emailHelp" placeholder="Email">
    </div>
    <div class="form-group">
      <label>Password</label>
      <input type="password" class="form-control" name="passwordLogin" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <div id="fbsubmit">
    <a href=auth/facebook>
      <button type="button" class="btn btn-primary">Login with Facebook</button>
    </a>
  </div>
</div>
