.container-fluid {
    display: flex;
    width: 100%;
    padding-right: 15px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

.left-panel {
    width: 20vw; 
    height: 100vh;
    /* border: solid pink; */
    text-align: center;
    background-color: #F7F8F9;
    padding-top: 50px;
}

.body {
    width: 80vw;
    height: 100vh;
    /* border: solid blue; */
}

#dog-name {
    text-align: center;
    margin: 10px;
}

.about-dog {
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    font-size: 20px;
    margin: 10px 10px;
    color: gray;
}

#adopt-me {
    width: 100%;
}

.pic-container {
    display: flex;
    justify-content: center;
}

.pic {
    width: 70%;
    height: 70%;
}

#card-body {
    padding: 0;
}

