.container-fluid {
    display: flex;
    width: 100%;
    padding-right: 15px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

.left-panel {
    width: 20vw; 
    height: 100vh;
    /* border: solid pink; */
    text-align: center;
    background-color: #F7F8F9;
    /* padding-top: 50px; */
}

.body {
    width: 80vw;
    height: 100vh;
}

#dog-name {
    text-align: center;
    margin: 10px;
}

.about-dog {
    font-size: 20px;
    margin: 10px 10px;
    color: gray;
}
.topRow {
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
}
.bottomRow {
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
}
#adopt-me {
    width: 100%;
}

.pic-container {
    display: flex;
    justify-content: center;
}

.pic {
 
    width:  275px;
    height: 175px;
    object-fit:scale-down;

}

#card-body {
    padding: 0;
}

#breed {
    padding-top: 5px;
}

#searchBy {
    color: rgba(178, 178, 178, 50);
    font-size: 16pt;
}

#welcome {
    padding: 10px 15px;
}

#priceCart {
    align-items: right; 
}

