.container-fluid {
    display: flex;
}

.left-panel {
    width: 20vw; 
    height: 100vh;
    border: solid pink;
    text-align: center;
}

.body {
    width: 80vw;
    height: 100vh;
    border: solid blue;
}